* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #000f11;
  text-align: center;

}
h1{
  color: white;
  margin-top: 2rem;
}
.hideMain{
   display: none;
}

.container {
  height: 70vh;
  display: flex;

  justify-content: center;
  align-items: center;
}

.game {
  height: 54vmin;
  width: 54vmin;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /* gap: 1.5vmin; */
  border: 6px solid hsl(177, 97%, 45%);
  border-radius: 15px;
  /* padding: px; */
  overflow: hidden;
  padding: 4px;
  background-color: #011b21;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.781);

}

.box {
  height: 18vmin;
  width: 18vmin;
  /* border-radius: 3px; */
  border:0px solid white;
  border-right: 6px solid hsl(177, 97%, 45%);
  border-bottom: 6px solid hsl(177, 97%, 45%);
  /* box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3); */
  font-size: 16vmin;
  color: #fff;
  background-color: #011b21;
  overflow: hidden;
}
.hide-borderRight{
  border-right:0px solid white;
}
.hide-borderBottom{
  border-bottom:0px solid white;
}

#reset-btn {
  padding: 1rem;

  font-size: 1.25rem;
  background-color: #191913;
  color: #fff;
  border-radius: 1rem;
  /* border: none; */
  border: 1px solid hsl(177, 97%, 45%);
  cursor: pointer;
}

#new-btn {
  padding: 1rem;
  font-size: 1.25rem;
  background-color: #191913;
  color: #fff;
  border-radius: 1rem;
  /* border: none; */
  border: 1px solid hsl(177, 97%, 45%);
  cursor: pointer;
}

#msg {
  color: #ffffc7;
  font-size: 5vmin;
}

.msg-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4rem;
}

.hide {
  display: none;
}

@media screen and (max-width:400px) {
  .game{
    height: 72vmin;
  width: 72vmin;
  }
  .box {
    height: 24vmin;
    width: 24vmin;
  }
}
